*.idea/
*.o
*.dSYM/
aman11/my_add/my_add
maman11/palindrome/palindrome
maman12/my_set/my_set
maman14/myassembly/myassembly
maman22/mycomp/mycomp
*.docx
2016a.zip
2016a/
2017b.zip
2017b/
gdb-8-1.2/
gdb-8.2.tar.xz
gdb-8.2/
mmn22-2015a.zip
mmn22-2015a/
myset-tzvika-14.zip
myset-tzvika-14/
temp_code/
*.pdf
tests/
toSend*
*screenshots*

